
.Navbar{
	background-color: black;
	padding: 1.5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about{
	text-decoration: none;
	
	color: #00EF9C;
	transition-duration: .3s;
}
.about:hover{
	color: white;

}
.pricing{
	text-decoration: none;
	
	color: #00EF9C;
	transition-duration: .3s;
}
.pricing:hover{
	color: white;
}
.contact{
	text-decoration: none;
	
	color: #00EF9C;
	transition-duration: .3s;
}
.contact:hover{
	color: white;

}

.home{
	text-decoration: none;
	color: #00EF9C;
	
	padding: 5px;
	border-radius: 8px;
	transition-duration: .3s;

}
.home:hover{
	color: white;
}

.MainTitle{
	font-size: 2.5em;
	background-color: gold;
	padding: 15px;
	align-items: center;


}

